# Introduction to Python

It's good to see that you are trying to get into the field of Data Science. There are plenty of opportunities. This notebook is linked with our second video of Data Science Series. 

I will be giving you an overview of Python. 
We will be covering 3 main topics:
1. List
2. Operator
3. Data Types

The order of topics may look unusual to you but as per our requirement, this is the right order.

## What is Python?
Python is an interpreted, high-level, general-purpose programming language. It's one of the most popular tool in Data Science community.

## Lists
It's a kind of sequence. The elements of sequence are stored in `[ ] `. You can save data in it and access it using it's index as we do while searching for a topic in a book using it's page number. 


Let's create a list that contains 5 popular dog breeds.

In [0]:
dogs_list = [ "Beagle", "Poodle", "German Shepherd", "Bulldog", "Labrador Retriever" ]

In [0]:
dogs_list

['Beagle', 'Poodle', 'German Shepherd', 'Bulldog', 'Labrador Retriever']

In [0]:
### TODO: Create a list that stores the name of top 5 IT companies in India.

**How to access the list elements?**

In [0]:
print(dogs_list[0])

Beagle

In [0]:
dogs_list[2]

'German Shepherd'

In [0]:
dogs_list[-3]

'German Shepherd'

In [0]:
dogs_list[0:3]

['Beagle', 'Poodle', 'German Shepherd']

In [0]:
### TODO: Return last 2 elements of dogs_list

**Finding the size of list i.e, number of elements in list**

In [0]:
len(dogs_list)

5

**Add elements to the list**

In [0]:
new_data = 'Cocker Spaniel'

dogs_list.append(new_data)

In [0]:
dogs_list

['Beagle',
 'Poodle',
 'German Shepherd',
 'Bulldog',
 'Labrador Retriever',
 'Cocker Spaniel']

## Operators
Operators are used to perform operations on the data. It helps to do the manipulations.

1. Arithmetic Operators
2. Comparison  Operators
3. Assignment Operators
4. Logical Operators
5. Bitwise Operators            `      ##Not of much use as per our curriculum`
6. Membership Operators                `          ##will cover in the section of loops`
7. Identity Operators

In [0]:
# + operator

print( 5 + 7 )
print( 5 - 7 )
print( 5 * 7 )
print( 5 / 7 )

12
-2
35
0.7142857142857143

In [0]:
print(20 // 3)

6

In [0]:
print( 10000 % 3)

1

##  Types of Variables
There are quite a number of variables types in python. We will be covering mainly 2: numbers and string. List is also a type of variable that we have already discussed.

In [0]:
a = "2"
type(a)

str

In [0]:
b = 0.10101
type(b)

float

In [0]:
print(new_data)
type(new_data)

Cocker Spaniel

str

## Type Casting

This is one of the most important topic that is much needed while working with data. You may get data in string type but for performing computations on it, you need to convert it to integer.

In [0]:
student_record = ['21', 'Shyam', '15', 'X']

In [0]:
student_record

['21', 'Shyam', '15', 'X']

In [0]:
type(student_record[0])

str

In [0]:
int(student_record[0])

21

In [0]:
type(int(student_record[0]))

int

In [0]:
student_record[0] = int(student_record[0])

In [0]:
student_record

[21, 'Shyam', '15', 'X']